html {
  font-family: sans-serif;
  color:white;
  border-color: #ef3065;
  
  }



 .container {
  padding: 20px; /*  padding */
  margin-bottom: 20px; /*  margin */
  background-color: #ff6f59;
  

}
h2{
  letter-spacing: 5px;
 }

h3{
  letter-spacing: 5px;
}


body {
background: #ff6f59;
margin:0;
padding: 0
 }


 /* SOCAIL ICONS & LINKS */

.contact {
  display: flex; justify-content; /* Makes .contact a flex container & aligns children horizontally to the start*/
  align-items: left; /* aligns children horizontally to the left */
  margin: 0 auto;  /* centers the .contact element horizontally on the page */
}

.contact a {
  margin-right: 25px; /* Adjust the margin to space out the icons */
}

.contact img {
  width: 60px;  /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  float: inline-end;
}

.bio{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}

.img {
display: inline-block;
vertical-align: text-top;
height: auto;
width: 150px;
border: 5px solid #ef3065;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 calc(45% - 20px); /* Adjust the width of grid items */
  margin: 10Px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 10px solid #ef3065;
  color: #ef3065;
}

footer{
  background: color #43aa8b;
  background-size: 50px;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}


 