html {
  font-family: sans-serif;
  color:#00f5e9;
  }



 .container {
  padding: 20px; /*  padding */
  margin-bottom: 20px; /*  margin */
  background-color: grey;

}
h2{
  letter-spacing: 5px;
 }

h3{
  letter-spacing: 5px;
}


body {
background: #ff0054;
margin:0;
padding: 0
 }


 /* SOCAIL ICONS & LINKS */

.contact {
  display: flex; justify-content; /* Makes .contact a flex container & aligns children horizontally to the start*/
  align-items: left; /* aligns children horizontally to the left */
  margin: 0 auto;  /* centers the .contact element horizontally on the page */
}

.contact a {
  margin-right: 25px; /* Adjust the margin to space out the icons */
}

.contact img {
  width: 60px;  /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  float: inline-end;
}

.bio{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}

.img {
display: inline-block;
vertical-align: text-top;
height: auto;
width: 150px;
border: 1px solid #ddd;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of grid items */
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

footer{
  background-color: grey;
  background-size: 50px;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Apply responsive styles */
@media screen and (max-width: 768px) {
  /* Example responsive styles */
  .main-content {
    padding: 10px;
  }