html {
  font-family: sans-serif;
  color:#00f5e9
  }

  body {
    background: #ff0054;
    
          margin: 0;
          padding: 0;
    
    }

.contact {
  display: flex; justify-content:
  justify-content: space-around;
  align-items: center;
  width: 1px; /* Adjust the width as needed */
  height: 1px; /* Adjust the height as needed */
  margin: 0 ato;
}

#linked-in{

}


#git-hub{

}
#email{
